[core]
    editor=vim
[user]
    name=sailxjx
    email=sailxjx@163.com
[alias]
    ck=checkout
    st=status
    br=branch
    ct=commit -am
    lg=log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[color]
    ui=auto
