[core]
    editor=vim
    excludesfile = /Users/tristan/.gitignore_global
[user]
    name = sailxjx
    email = sailxjx@163.com
[alias]
    ck=checkout
    st=status
    br=branch
    ct=commit -am
    lg=log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[color]
    ui=auto
[diff]
    tool=vimdiff
[push]
    default = tracking
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
